
<footer class="w-full p-4 bg-white  md:flex md:items-center md:justify-between md:py-2 md:px-2">
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© <%= Time.zone.now.year %> creaDix </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
    <li>
      <a href="#" class="hover:underline">Contact</a>
    </li>
  </ul>
</footer>
