<div class="flex items-center justify-center">
  <input id="<%= @item.code %>" type="checkbox" value="" class="w-6 h-6 text-green-500 bg-white border-green-300 rounded focus:ring-green-500 focus:ring-2">
  <label for="<%= @item.code %>" class="ml-2 text-lg font-medium text-gray-400"><%= @item.code %></label>
</div>