<% cells.each do |cell|%>
  <div class="px-4 truncate hover:text-clip hover:whitespace-pre-line hover:text-sm hover:overflow-visible ">
    <%= cell %>
  </div>
<% end %>
<div class="py-1 whitespace-nowrap text-sm font-medium text-gray-900 flex justify-end">
  <%= actions %>
</div>
