<nav class="w-full sm:w-1/2 flex justify-start mt-3" data-controller="tab">
  <%= render TabComponent.new(
              item: 'one',   
              path: root_path, 
              options: { 
                text: 'One',
                link_style: 'tab-component',
              }
            ) %>
  <%= render TabComponent.new(
              item: 'two',
              path: dashboard_path, 
              options: { 
                text: 'Two',
                notification: '0',
                link_style: 'tab-component'
              }
            ) %>
  <%= render TabComponent.new(
              item: 'three',
              path: root_path, 
              options: {
                icon: 'truck.svg',
                text: 'Three',
                notification: '3',
                link_style: 'tab-component'
              }
            ) %>
</nav>

