<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing <%= @delivery_rider.name %> </h1>
  <%= turbo_frame_tag dom_id(@delivery_rider) do %>
    <%= render 'form', delivery_rider: @delivery_rider %>
  <% end %>
</div>
