<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto w-full flex flex-col gap-8">
    <h1 class="text-3xl font-semibold"><%= t('.title')%>: <%= @delivery_rider.name.capitalize %></h1> 
    <div class="w-full flex gap-4">
      <div class="w-1/2 border border-slate-400 rounded-lg shadow-slate-300 shadow-md p-4 gap-4">
        <h2 class="w-full text-xl mb-5"><%= t('.delivery')%></h2>
      </div>
      <div class="w-1/2 border border-slate-400 rounded-lg shadow-slate-300 shadow-md p-4 gap-4">
        <h2 class="w-full text-xl mb-5"><%= t('.pickup')%></h2>
        <span class="border rounded-full w-6 h-6 flex justify-center items-center bg-red-500 text-white text-lg p-4">
          <%#= @delivery_rider.rates.sum(&:movements).count %>
        </span>
        
      </div>
    </div>
  </div>
</div>