<div class="w-11/12 flex flex-wrap mx-auto my-3">
  <%= render ConfigurationCardComponent.new(
        title: 'clientes', 
        options: {
          icon: 'user-group.svg',
          href_1: customers_path
        }
      )%>

  <%= render ConfigurationCardComponent.new(
        title: 'productos',
        options: {
          icon: 'box.svg',
          href_1: products_path,
          href_2: new_products_path
        }
      )%>
</div>