<div class="w-full mb-8">
  <%= turbo_frame_tag :dashboard do %>
    <%= turbo_frame_tag :customers_index, src: customers_path, loading: :lazy do %>
      <div class="w-12 h-12 mx-auto border-2 border-red-600 rounded-full loader"></div>
    <% end %>
  <% end %>
</div>
