@tailwind base;
@tailwind components;
@tailwind utilities;

/* spinner */
@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border-right-color: transparent;
  animation: loader-rotate 1s linear infinite;
}

@layer components { 
  .tab-component {
    @apply w-full md:w-2/6 flex items-center justify-center flex-1 py-2 hover:bg-gray-100 border-t-2 border-x-2 border-gray-300 opacity-60 rounded-tr-lg;
  }

  .menu-item-component {
    @apply w-full flex flex-col items-center justify-center py-3 hover:bg-gray-700 hover:text-gray-300 border-b border-gray-700;
  }

  .search-form-component {
    @apply w-2/5 mx-2 text-gray-700 leading-tight;
  }

  .tab-item-component {
    @apply w-full flex items-center justify-center py-5 hover:bg-gray-900 hover:text-gray-300;
  }

  .checkbox-default {
    @apply appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
  }

  .page {
    @apply px-4 py-2 text-lg rounded text-gray-700 border border-red-500 hover:bg-red-200 hover:text-slate-800;
  }
}
