@tailwind base;
@tailwind components;
@tailwind utilities;

/* spinner */
@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border-right-color: transparent;
  animation: loader-rotate 1s linear infinite;
}

@layer components { 
  .tab-component {
    @apply w-full md:w-2/6 flex items-center justify-center flex-1 py-2 hover:bg-gray-100 border-t-2 border-x-2 border-gray-300 opacity-60 rounded-tr-lg;
  }
}